@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;500&display=swap');

 

*{
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }
      
    html, body{
        height: 100%;
    }
      
    body{
        background-size: cover;
        display: grid;
        place-content: center;
        margin: 0;
        background-color: #e2d5c1;
    }

    .contenedor-signup{
        
        border-radius: 7px;
        background-color: #F4F3EE; 
        height: 550px;
        width: 400px;
    }

    .signup{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 0px;
        padding-bottom: 0px;
        position: relative;    
    }

    .signuplogo {
        font-family: 'Darumadrop One', cursive;
        font-size: 60px;
        text-align: center;
        color: #775343;
        margin-top: 15px;
        margin-bottom: 15px;
      }

    .signup-form{
        margin-bottom: 15px;
        margin-top: 15px;
        display: grid;
        gap: 30px;
        
    }
    
    .contenedor-datos {
        border-color: rgb(225, 231, 240);
        border-radius: 8px; 
        padding: 10px;
        border: 1px;
        background-color:rgb(230, 231, 234);
        font-size: large;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .contenedor-datos:hover {
        background-color: #b99b7bca;
        
    }


    .boton-signup {
        font-family: 'Darumadrop One', cursive;
        place-content: center;
        border-radius: 5px;
        border-color: rgb(31, 37, 42);
        border: 1px;
        padding-top: 8px;
        padding-bottom: 10px;
        font-size: 25px;
        background-color: #5a4531;
        margin-top: 10px;
        cursor: pointer ;
        color: #ffffff;
    }
      

    .boton-signup:hover{
        background-color: #4c352a;
    color: aliceblue;
    }
      
    a {
        
        text-decoration: solid;
        font-family: 'Geologica', sans-serif;
        color: #5a4531;
    }

    a:hover{
        color: #a28465;
    }
      
    #Ini {
        margin-top: 30px;
        color: #a28465;
        font-family: 'Geologica', sans-serif;
        text-align: center;
        font-size: 20px;
    }

    
    .error {
        text-align: center;
        color: #ffffff;
        background-color: #4c352a;
        border-radius: 5px;
        font-family: 'Geologica', sans-serif;
        margin: 10px;
        width: 385px;
        padding: 5px;
      }
    
     
